@page
@model CS5227_A1_LIAWJ47006.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="Contact.Name" class="control-label"></label>
        <input asp-for="Contact.Name" class="form-control" />
        <span asp-validation-for="Contact.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact.Email" class="control-label"></label>
        <input asp-for="Contact.Email" class="form-control" />
        <span asp-validation-for="Contact.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact.Message" class="control-label"></label>
        <textarea asp-for="Contact.Message" class="form-control"></textarea>
        <span asp-validation-for="Contact.Message" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<h3>Our Location</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15901.285864535696!2d114.9316692!3d4.8857309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32228ac8ee3f7d03%3A0xcacd96016959ec39!2sLaksamana%20College%20of%20Business!5e0!3m2!1sen!2sbn!4v1717131077015!5m2!1sen!2sbn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
