@page
@model CS5227_A1_LIAWJ47006.Pages.OrderConfirmationModel

@{
    ViewData["Title"] = "Order Confirmation";
}

<h2>Order Confirmation</h2>

<p>Thank you for your order! Your order has been placed successfully.</p>
